body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(rgb(255, 191, 138), rgba(253, 198, 114, 0.26), white, white);
}

.background {
    height: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    place-items: center;
}


#mainImage {
    height: 15rem;
    width: 25rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    object-fit: contain;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.bottom {
    background-color: rgb(255, 191, 138);
    height: 35rem;
    justify-content: center;
    place-items: center;
    padding: 30px;
}


.bottomBlock{
    margin-top: 30px;
}

p1{
    color: white;
    font-size: 30px;
    margin-left: 250px;
}

.bottomImages{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
}

#bottomImage {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

#bottomImage:hover{
    width: 350px;
    height: 400px;
    transition: 0.5s;
}

.bottomBar {
    background-color: white;
    bottom: 0;
    right: 0;
    height: 2rem;
    color: gray;
    padding: 10px;
}