body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

#logo {
    width: 5%;
    padding-left: 3%;
    margin-top: 0px;
}

.navbar {
    width: 100%;
    height: 70px;
    color: black;
    align-items: center;
    background-color: rgb(255, 191, 138);

}

.navbarText {
    padding-right: 100px;
    float: right;
    margin-top: 20px;
}

a{
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    margin-left: 20px;
}

a:hover{
    text-decoration: underline;
}



.subscribe {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#eating {
    width: 25%;
    height: fit-content;
    float: right;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#formSubscribe {
    padding-top: 20px;
    justify-content: space-around;
    display: flex;
    width: 350px;
    align-items: center;
}

#fieldSubscribe {
    border: none;
    border-radius: 10px;
    color: rgba(128, 128, 128, 0.404);
    font-size: 15px;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.137);
    width: 200px;
}

#fieldSubscribe:focus {
    color: black;
    border: none;
    outline: none;
}

#btnSubscribe {
    background-color: rgb(241, 144, 18);
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

#btnSubscribe:hover {
    background-color: rgb(147, 85, 4);
    transition: 0.5s;
}

.subscribeHeader {
    color: rgb(71, 71, 71);
    font-weight: 400;
    padding-top: 50px;
}

.firstSubscribeHeader {
    font-size: 35px;
}

.secondSubscribeHeader {
    padding-top: 10px;
    font-size: 20px;
}


.middle{
    width: 100%;
    position: relative;
    padding-top: 40px;
    height: auto;
    object-fit: cover;
    text-align: center;
    align-items: center;
}

#breakfast{
    width: 100%;
    height: 500px;
    object-fit: cover;  
}

.breakfastText{
    font-size: 40px;
    margin-top: -300px;
    color: white;
    position: absolute;
    width: 100%;
    
}

.bottomBar {
    background-color: white;
    height: 2rem;
    color: gray;
    padding: 20px;
    margin: -10px;
    position: relative;
}

.textBottom {
    width: auto;
    float: left;
}

.icons {
    position: relative;
    float: right;
    font-size: 30px;
}

.recipes{
    padding: 50px;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: flex;
    justify-content: space-around;

}

.recipesList{
    display: flex;
    text-align: center;
    justify-content: center; 
    padding-top: 80px;
}

table{
    width: 500px;
    height: 500px;
    
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px  rgb(85, 85, 85); 
}

td{
    font-weight: 600;
    width: 400px;
    object-fit: cover;
    border: 1px solid #ccc;
    
}

tr{
    border: 1px; 
    border-style: solid;
    border-color: black;
}

tr:hover{
    background-color: rgba(255, 175, 100, 0.226);
}

.recipeTitle{
    color: orange;
    font-size: 30px;
    width: 400px;
    text-align: center;
    align-items: center;
}

.recipeHeader{
    padding: 20px;
}

#pancakeImage{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

.littleHeader{
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

li{
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
}

li{
    
}